#issMap 
{ 
    height: 400px;
    width: 400px;
    position: absolute;
}
/*
#bd{
        position: center;
        text-align: center;
        border: 3px solid green;
}
#map-container {
    height: 100%;
}
*/
